<!DOCTYPE html>
<html lang="en-nz" itemscope="itemscope" itemtype="https://schema.org/WebPage">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if excludefromSearch %}
    <meta name="robots" content="noindex">
  {% endif %}
  {# <link rel="application/rss+xml" rel="alternate" title="{{ site.title }}" href="{{ site.rss }}"> #}

  <title>
    {{ title + " – NZ Tech Rally 2023" if title else site.title }}
  </title>
  <meta name="description" content="{{ description if description else site.description }}">

  {% include 'partials/head-schema.njk' %}
  {% include 'partials/head-opengraph.njk' %}
  {% include 'partials/head-twitter-cards.njk' %}
  {% include 'partials/head-icons.njk' %}
  <meta property="fb:app_id" content="{{ site.facebookAppID }}">
  <link rel="manifest" href="{{ '/manifest.json' | url }}">

  <meta name="msapplication-TileColor" content="#101625">
  <meta name="theme-color" content="#111111">
  <meta name="background-color" content="#101625">

  {%- if contentType === 'about' -%}
    {% include 'partials/2023/schema-about.njk' %}
  {%- elif contentType === 'speaker' -%}
    {% include 'partials/2023/schema-speaker.njk' %}
  {%- else -%}
    {% include 'partials/2023/schema-default.njk' %}
  {%- endif -%}

  {#- Add to the CSS bundle #}
  {%- css %}
  {% include 'css/normalize.css' %}
  {% include 'css/font-face.css' %}
  {% include 'css/2023/base.css' %}

  {% include "css/components/global-nav.css" %}
  {% include "css/components/hamburger.css" %}
  {% endcss %}

  {#- Render the CSS bundle #}
  {%- if eleventy.env.runMode === "serve" %}
    {# External files (local dev live reload will refresh without page reload) #}
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
  {%- else  %}
    {# Inlined CSS (fastest site performance in production) #}
    <style>
      {% getBundle "css" %}
    </style>
  {%- endif %}
</script>

<a class="button button-skip-link" href="#mainContent">Skip to main content</a>

<div class="page-content-clear-footer">
  <div class="grid-bg"></div>

  <header class="page-header">
    <div class="page-wrapper page-header__wrapper">
      {% if title %}
        <p class="accent-border site-name">
          <a class="site-logo-link" href="https://nztechrally.nz">
            {% svg "logo", { title: "NZ Tech Rally", class: "site-logo" } %}
          </a>
        </p>
      {% else %}
        <h1 class="accent-border site-name">
          <a class="site-logo-link" href="https://nztechrally.nz">
            {% svg "logo", { title: "NZ Tech Rally", class: "site-logo" } %}
          </a>
        </h1>
      {% endif %}

      <nav id="globalNavigation">
        <button 
          class="hamburger hamburger--slider"
          aria-controls="globalNavigation"
          aria-expanded="false"
          id="globalNavigationButton"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>

          <span class="visually-hidden">Site navigation</span>
        </button>

        <ul
          class="global-navigation"
          hidden
        >
          <li class="global-navigation__item">
            <a 
            class="global-navigation__link"
            href="{{ '/2023/' | url }}"
            >
              Home
            </a>
          </li>

          <li class="global-navigation__item">
            <a 
              class="global-navigation__link"
              href="https://photos.app.goo.gl/jz8HWFMt6uQbE1Mx6"
              rel="external"
            >
              Photos
            </a>
          </li>

          <li class="global-navigation__item">
            <a 
              class="global-navigation__link"
              href="{{ '/2023/schedule' | url }}"
            >
              Schedule
            </a>
          </li>

          <li class="global-navigation__item">
            <a 
              class="global-navigation__link"
              href="{{ '/2023/about' | url }}"
            >
              About
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main id="mainContent" class="page-container page-wrapper">
    <header class="section-label section-label--header accent-border">
      {% block pageHeader %}{% endblock %}
    </header>
    {% block pageIntro %}{% endblock %}
    {% block content %}{% endblock %}

    {%- css %}
    {% include "css/2023/components/sponsors.css" %}
    {% endcss %}

    <section>
      <div class="section-label section-label--header accent-border">
        <h2 class="section-title">
        Sponsors {% svg "sparkles" %}
        </h2>
      </div>

      <div class="text-indent">
        <h3>Gold sponsor</h3>
      </div>

      <ul class="cards cards--sponsors">
        <li class="card--sponsor card--sponsor-large">
          <a class="card card--sponsor-link" rel="external" href="https://assurity.nz">
            <img src="{{ '/assets/images/sponsors/2023/assurity-logo.png' | url }}" alt="Assurity" />
          </a>
        </li>
      </ul>

      <div class="text-indent">
        <h3>Silver sponsors</h3>
      </div>

      <ul class="cards cards--sponsors">
        <li class="card--sponsor">
          <a class="card card--sponsor-link" rel="external" href="https://www.runn.io/careers">
            <img src="{{ '/assets/images/sponsors/2023/runn-logo.png' | url }}" alt="Runn" />
          </a>
        </li>

        <li class="card--sponsor">
          <a class="card card--sponsor-link" rel="external" href="https://datacom.com/nz/en">
            <img src="{{ '/assets/images/sponsors/2023/datacom-logo.png' | url }}" alt="Datacom" />
          </a>
        </li>

        <li class="card--sponsor">
          <a class="card card--sponsor-link" rel="external" href="https://epi-interactive.com/">
            <img src="{{ '/assets/images/sponsors/2023/epi-interactive-logo.png' | url }}" alt="Epi-interactive" />
          </a>
        </li>
      </ul>

      <div class="text-indent">
        <p>Thank you to our amazing sponsors. We wouldn’t be able to do it without you!</p>
      </div>
    </section>

    {% include 'partials/2023/newsletter-signup.njk' %}
  </main>
</div>

{%- include 'partials/footer.njk' -%}

{%- set js -%}
{% include 'js/hamburgers.js' %}
{%- endset -%}

<script>
  {{ js | jsmin | safe }}
</script>