{% macro card(content, horizontal, hasAccent) %}
  <li class="card card-profile {{ 'accent-border' if hasAccent }} {{ 'card-profile--horizontal' if horizontal }}">
    <picture class="card-profile__picture">
      <source srcset="{{ content.data.profilePhoto }}" media="(orientation: portrait)">
      <img src="{{ content.data.profilePhoto }}" alt="{{ content.data.profilePhotoAltText }}">
    </picture>

    <p class="card-profile__info">
      <a class="card-profile__link card-title" href="{{ content.url | url }}">
        {{ content.data.firstName }}
        {{ content.data.lastName }}
      </a>

      <span>
        {{ content.data.jobTitle }}
        {% if content.data.organisation %}
            @ {{ content.data.organisation }}
        {% endif %}
      </span>

      {% if content.data.role %}
        {{ content.data.role }}
      {% endif %}
    </p>
  </li>
{% endmacro %}